# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build
dist/
.output/
.nuxt/
.nitro/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Prisma
prisma/migrations/

# Misc
*.tsbuildinfo
